<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
<p>The current time is <%=Time.now%></p>
<p>
   Our <%= @chef.size%> is 
   <ul>
   <% @chef.each do |c| %>
   <li><%= c %></li>
   <% end %>
   </ul>
</p>

